* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  /* background-color: #88ab71; */
}

a {
  text-decoration: none;
  color: black;
  font-family: 'Montserrat', sans-serif;
}

a:hover {
  color: #58614e;
}

h1 {
  font-size: 60px;
  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
}

footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
 }

img {
  transform: rotate(90deg);
  margin-top: 40px;
  border-radius: 4%;
  width: auto;
  height: 150px;
 }

.header {
  text-align: left;
  padding-left: 10px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 700px;
  height: auto;
  margin: 0 auto;
}

.contentholder {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  padding-left: 5px;
  padding-bottom: 50px;
}

.details {
  width: 700px;
  height: auto;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

.footerstyle {
  height: 60px;
  padding-top: 5px;
  font-size: 40px;
  padding-left: 5px;
}


/*Tablet*/
@media (min-width:600px) and (max-width: 900px) {
  .contentholder {
    width: 50%;
    font-size: 10px;
    margin-left: 5px;
  }
  img {
    margin-top: 70px;
    transform: rotate(90deg);
  }
}
/*Mobile*/
@media (max-width:600px){
  .contentholder {
    width: 100%;
    padding: 5px;
  }

  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 20px;
  }
  .footerstyle {
  font-size: 20px;
  }
  img {
    transform: rotate(90deg);
  }
}
