* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #88ab71;
}

a {
  text-decoration: none;
  color: black;
  font-family: monospace;
}

a:hover {
  color: hotpink;
}

h1 {
  font-size: 60px;
  font-family: monospace;
}

h2 {
  font-size: 30px;
  font-family: monospace;
}

footer {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width: 100%;
  height: auto;
 }

img {
  transform: rotate(90deg);
  margin-top: 40px;
  border-radius: 4%;
  width: auto;
  height: 150px;
 }

.header {
  text-align: left;
  padding-left: 10px;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.contentholder {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  height: 600px;
  width: auto;
}

.details {
  width: 700px;
  height: auto;
  font-family: monospace;
  font-size: 20px;
}

.footerstyle {
  height: 60px;
  padding-top: 5px;
  font-size: 40px;
  padding-left: 5px;
}


/*Tablet*/
@media (min-width:600px) and (max-width: 900px) {
  .contentholder {
    width: 50%;
  }
}
/*Mobile*/
@media (max-width:600px){
  .contentholder {
    width: 100%;
  }
}
